html {
  background-image: url('../img/bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;

}

body {
  text-align: center;

  .navbar {
    background-color: rgba(187, 10, 84, 0.632);
    color: rgb(27, 66, 35);
    -webkit-box-shadow: -4px 11px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 11px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 11px 23px 0px rgba(0, 0, 0, 0.75);

  }

  h1 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.428);
    font-weight: bold;

  }
}

.title {
  color: white;
  font-size: 14px;

}

#box-pomodo {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  margin-top: 270px;
  grid-template-columns: 10% 1fr 15%;
  grid-template-rows: 10% 1fr 10%;
  height: 180px;
  background-color: rgba(185, 91, 4, 0);
  width: 450px;
  border: 2px solid rgba(255, 255, 255, 0.483);
  border-radius: 10px;
  display: grid;
}

#timer {
  text-shadow: 4px 6px 10px rgb(35, 28, 12);
  grid-column: 2/3;
  text-align: center;
  font-size: 48px;
  line-height: 180px;
  color: rgb(221, 161, 32);
  font-weight: bold;
}


#right-pannel {
  background-color: rgba(221, 161, 32, 0.319);
  grid-column: 3/4;
  grid-row: 1/4;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

#right-pannel button {
  outline: none;
  background-color: rgba(255, 255, 255, 0.258);
  cursor: pointer;
  height: 24px;
  border-radius: 100px;
  border: none;
  color: rgba(207, 7, 91, 0.884);
  font-weight: bolder;
  margin: 0 auto;
  display: grid;
  margin-bottom: 15px;
}

#right-pannel button:hover {
  background-color: rgba(255, 255, 255, 0.571);
  border-radius: 12px;
  color: rgb(187, 10, 84);
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.1rem;
  background-color: rgba(187, 10, 84, 0.632);
  -webkit-box-shadow: 2px -13px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -13px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -13px 23px 0px rgba(0, 0, 0, 0.75);
}

.footer p {
  font-size: 9px;
  padding-top: 7px;
  float: right;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.428);
}

.footer i {

  color: rgba(255, 255, 255, 0.428);
  margin: 5px;
}

.footer i:hover {
  color: rgba(201, 165, 228, 0.183);
  margin: 5px;
}

.modal-button {
  border: none;
  background-color: rgba(255, 255, 255, 0.415);
  cursor: pointer;
  height: 30px;
  border-radius: 10px;
  width: 100px;
  border: none;
  color: white;
  font-weight: bold;
  margin: 30px;
  margin-bottom: 15px;
}